@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-image: url("../../public/images/bg-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
